.launch-page {
  width: 1200px;
  margin: auto;

  font-family: 'D-DIN';
}

.launch-cards-container {
  margin: 0 auto;
  
  display: flex;
  flex-wrap: wrap;

  list-style: none;
}

.info-container .info-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-title {
  margin: 0;
  padding: 12px ;
  background: rgb(18, 18, 18);
}