
.card {
  padding: 14px;
  margin: 16px;
  min-width: 200px;
  max-width: 240px;

  background: rgb(243, 243, 243);
  color: rgb(36, 36, 44);

  font-size: 14px;
  border-radius: 8px;
}
.card .header .title {
  margin: 0;
  padding: 0;
}
.card .content {
  margin: 10px 0;
}

.centered {
  margin: 16px auto;
}