
.card {
  padding: 14px;
  min-width: 200px;
  max-width: 200px;

  background: rgb(231, 231, 231);
  color: rgb(36, 36, 44);

  font-size: 14px;
  border-radius: 8px;

  user-select: none;

  transition: all .2s ease-in-out;
}
.card:hover {
  background: white;
  
  transform: scale3d(1.1, 1.1, 1);
}
.card .header .title {
  margin: 0;
  padding: 0;
}
.card .content {
  margin: 10px 0;
  color: rgba(42, 42, 59, 0.8);
}

.centered {
  margin: 16px auto;
}